@media screen and (min-width: 767px ) {
    a {
      justify-content: center;
    }
  }
  .grad1{
    height: 3 00px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, white,  #97d2d5);
  }