@media screen and (max-width: 950px) {
    .bg-blue-500 {
      height: 30px;
      width: 30px;
    }
    .top-number {
      justify-content: center;
      font-size: medium;
      padding: 20px;
    }
    .text-size{
      justify-content: center;
      font-size: medium;
      
    }
  }
  
  @media screen and (max-width: 500px) {
    .bg-blue-500 {
      height: 25px;
      width: 25px;
    }
    .top-number {
      justify-content: center;
      font-size: medium;
      padding: 20px;
    }
    .text-size{
      justify-content: center;
      font-size: medium;
      
    }
  }
  
  @media screen and (max-width: 440px) {
    .bg-blue-500 {
      height: 20px;
      width: 20px;
    }
    .top-number {
      justify-content: center;
      font-size: small;
      padding: 20px;
    }
    .text-size{
      justify-content: center;
      font-size: small;
      
    }
  }
  
  @media screen and (max-width: 383px) {
    .bg-blue-500 {
      height: 15px;
      width: 15px;
    }
    .top-number {
      justify-content: center;
      font-size: x-small;
      padding: 20px;
    }
    .text-size{
      justify-content: center;
      font-size: x-small;
      
    }
  }
  